

<section class="store-about>

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="blurb">
    <h2> Welcome to our store! </h2>
    <p>This is our store! It is strange...but just roll with it.</p>
  </div>

</section>